<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{fragments/head :: head(~{::title})}"></head>

<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <div class="app-wrapper">
        <!-- Navbar -->
        <div th:replace="~{fragments/navbar :: navbar}"></div>
        <!-- Sidebar -->
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>

        <!-- Main Content -->
        <main class="app-main">
            <div class="app-content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="mb-0" layout:fragment="page-title">Dashboard</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="app-content">
                <div class="container-fluid">
                    <div layout:fragment="content"></div>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>

    <!-- SCRIPTS -->
    <div th:replace="~{fragments/scripts :: scripts}"></div>
    <th:block layout:fragment="extra-scripts"></th:block>
</body>

</html>